<div fxLayout="row wrap">
    <div fxFlex.gt-md="100" fxFlex="100">
        <div class="authBlock" fxLayout="row wrap">
            <h3 style="text-align: center;">Reset Password</h3>
            <p class="text-center">Please enter your email address to request a password reset.</p>
            <form [formGroup]="form" fxFlex="100">
                <div fxLayout="row wrap">
                    <div class="formGroup" fxFlex="100">
                        <mat-form-field appearance="outline" style="width: 100%;">
                            <mat-label>Email</mat-label>
                            <input matInput required placeholder="Email" formControlName="email">
                            <mat-error *ngIf="form.controls['email'].hasError('email') && !form.controls['email'].hasError('required')">
                                Please enter a valid email address
                            </mat-error>
                            <mat-error *ngIf="form.controls['email'].hasError('required')">
                                Email is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div fxFlex="100" *ngIf="errorMessage != ''" style="text-align: center;">
                        <span style="font-size: 12px; color: red;">
                            {{errorMessage}}
                        </span>
                    </div>

                    <div class="formGroup" fxFlex="100">
                        <button mat-raised-button color="primary" (click)="passwordRecovery();" style="width: 100%;" [disabled]="!form.valid">Reset Password</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="redirectToLogin" fxFlex="100" style="margin-top: 20px;">
            <span>Go back to ?<span class="redirect" (click)="cancel();" style="cursor: pointer; color: blue;"> Log in</span></span>
        </div>

    </div>
</div>