<!--<div *ngIf="apiLoaded | async" style="height: calc(100vh - 60px);" #map>
    <google-map [options]="mapOptions" [center]="center" width="100%" [height]="map.offsetHeight">
        <div class="location-button2">
            <button mat-mini-fab color="white" (click)="requestPosition();">
                <mat-icon>gps_fixed</mat-icon>
            </button>
        </div>
        <div class="location-button">
            <button mat-mini-fab color="white" (click)="requestPosition();">
                <mat-icon>gps_fixed</mat-icon>
            </button>
        </div>
        <map-marker *ngFor="let marker of markers" [position]="marker.position" [label]="marker.label"
            [title]="marker.title" [options]="marker.options">
        </map-marker>
        
    </google-map>
</div>

<div *ngIf="getError != ''">
    {{getError}}
</div> -->

<div *ngIf="apiLoaded | async">
    <google-map [options]="mapOptions" [center]="center" width="100%" height="100vh">
        <div class="location-button">
            <button mat-mini-fab color="white" (click)="requestPosition();">
                <mat-icon>gps_fixed</mat-icon>
            </button>
        </div>
        <map-marker *ngFor="let marker of markers" [position]="marker.position" [label]="marker.label"
            [title]="marker.title" [options]="marker.options">
        </map-marker>
        
    </google-map>
</div>