<div fxLayout="row wrap">
    <div fxFlex="100" style="margin-bottom: -40px;">
        <button mat-icon-button class="close-button" align="end" [mat-dialog-close]="true">
            <mat-icon class="close-icon" color="warn">close</mat-icon>
        </button>
    </div>
    <div fxFlex.gt-md="100" fxFlex="100" cdkFocusInitial>
        <div fxLayout="row wrap">
            <div fxFlex="100" style="text-align: center; padding: 10px 10px 0 10px;">
                <h2>Review</h2>
            </div>
            <div fxFlex="100" style="display: flex; justify-content: center; align-items: center;">
                <fieldset class="rating">
                    <ng-container *ngFor="let num of [5, 4, 3, 2, 1]">

                        <input [id]="'star'+num" [value]="num"
                            [class]="num <= form.controls['ratingValue'].value ? 'active' : 'inactive'" name="rating"
                            type="radio" />

                        <label (click)="starHandler(num)" class="full" [for]="'star'+num"></label>

                    </ng-container>
                </fieldset>
            </div>
        </div>
    </div>
</div>