
.spotForm .mat-form-field-wrapper {
    padding-bottom: 0px;
}

.p-10 {
    padding: 10px;
}

.p-t-10 {
    padding-top: 10px;
}

.p-l-10 {
    padding-left: 10px;
}

.p-r-10 {
    padding-right: 10px;
}

.mat-standard-chip .mat-chip-remove {
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 0;
    background: none;
}

.mat-standard-chip .mat-chip-remove.mat-icon, .mat-standard-chip .mat-chip-remove .mat-icon {
    width: 18px;
    height: 18px;
    font-size: 18px;
}

.spots-edit {
    display: flex;
    align-items: center;
}

.spot-edit-icon {
    cursor: pointer;
    font-size: 20px;
    margin-right: 10px;
}

@media screen and (min-width: 1280px) {
    .userForm{
        padding-right: 10px;
    }
}